Dialogix_J2EE/DialogixEntities/src/conf/wsit-org.dialogix.services.InstrumentWeb.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InstrumentWebService" targetNamespace="http://services.dialogix.org/" xmlns:tns="http://services.dialogix.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="getFinalInstrumentSessionResults"/>
    <message name="getFinalInstrumentSessionResultsResponse"/>
    <message name="getInstrumentSession"/>
    <message name="getInstrumentSessionResponse"/>
    <message name="getInstrumentSessions"/>
    <message name="getInstrumentSessionsResponse"/>
    <message name="getItemUsages"/>
    <message name="getItemUsagesResponse"/>
    <message name="findInstrumentSessionByName"/>
    <message name="findInstrumentSessionByNameResponse"/>
    <message name="merge"/>
    <message name="mergeResponse"/>
    <message name="persist"/>
    <message name="persistResponse"/>
    <portType name="InstrumentWeb">
        <operation name="getFinalInstrumentSessionResults">
            <input message="tns:getFinalInstrumentSessionResults"/>
            <output message="tns:getFinalInstrumentSessionResultsResponse"/>
        </operation>
        <operation name="getInstrumentSession">
            <input message="tns:getInstrumentSession"/>
            <output message="tns:getInstrumentSessionResponse"/>
        </operation>
        <operation name="getInstrumentSessions">
            <input message="tns:getInstrumentSessions"/>
            <output message="tns:getInstrumentSessionsResponse"/>
        </operation>
        <operation name="getItemUsages">
            <input message="tns:getItemUsages"/>
            <output message="tns:getItemUsagesResponse"/>
        </operation>
        <operation name="findInstrumentSessionByName">
            <input message="tns:findInstrumentSessionByName"/>
            <output message="tns:findInstrumentSessionByNameResponse"/>
        </operation>
        <operation name="merge">
            <input message="tns:merge"/>
            <output message="tns:mergeResponse"/>
        </operation>
        <operation name="persist">
            <input message="tns:persist"/>
            <output message="tns:persistResponse"/>
        </operation>
    </portType>
    <binding name="InstrumentWebPortBinding" type="tns:InstrumentWeb">
        <wsp:PolicyReference URI="#InstrumentWebPortBindingPolicy"/>
        <operation name="getFinalInstrumentSessionResults">
            <input/>
            <output/>
        </operation>
        <operation name="getInstrumentSession">
            <input/>
            <output/>
        </operation>
        <operation name="getInstrumentSessions">
            <input/>
            <output/>
        </operation>
        <operation name="getItemUsages">
            <input/>
            <output/>
        </operation>
        <operation name="findInstrumentSessionByName">
            <input/>
            <output/>
        </operation>
        <operation name="merge">
            <input/>
            <output/>
        </operation>
        <operation name="persist">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="InstrumentWebService">
        <port name="InstrumentWebPort" binding="tns:InstrumentWebPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="InstrumentWebPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
